*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3E6E8C;
    background-size: cover;
    color: #8C6746;
    /*background-image: url('../assets/rain.jpg');*/
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    /*background-image: url('../assets/rain.jpg');*/
    background-size: cover;
}
.container__card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
    border-radius: 30px;
    width: 700px;
    background-color: #F2E85E;
    margin-top: 2rem;
    padding: 2rem;
}
h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
} 
.container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: #D98B2B;
}
.ico_weather{
    width: 350px;
    margin: -50px 0px -50px -50px;
}

.button{
    background-color:#BF5A50;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;
}
.label{
    font-weight: 700;
    /*text-transform: uppercase;*/
}
.container-data{
    display: flex;
    margin-bottom: 2rem;
}
.data{
    margin-left: 20px;
    margin-right: 5px;
    color: #D98B2B;
    font-weight: 800;
}
.button-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.grid-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 55px;

}

@media screen and (max-width: 414px) {
    .container__card{
        width: 95%;
     }   
     .container-icon{
        font-size: 2rem;
    }
    .ico_weather{
        width: 200px;
        margin-top: -15px;
    }   

    .button{
        width: 60%;
        padding: 5px;
        border-radius: 10px;
        margin: 5px auto;
    }

    .container__card{
        border-radius: 20px;
        width: 350px;
        background-color: #F2E85E;
        margin-top: 4rem;
        padding: 1rem;
    }

}